.content {
    background-color: #eceff1;
}
input {
    border-radius: 5px;
    text-align: center;
    width: 85%;
}
#gas {
    color: #ff5252;
}
#eta {
    color: #81c784;
}
#err {
    color: black;
}
img{
    width: 50%;
}